body{
	margin: 0px;
}
.navbar-default{
	margin: 0px;
	width: 100%;
	background-color: #580f8b;
	padding-top: 27.4px;
	padding-bottom: 26.6px;
	padding-left: 35px;
	padding-right: 34px;
	color: white;
	display: inline-block;
}
.navbar .heading{
	font-size: 20px;
	text-align: center;
	position: relative;
  	left: 40%;
  	width: 230px;
  	height: 25px;
  	font-weight: 700;
}
.navbar .logout{
	width: 48px;
	height: 17px;
  	float: right;
  	font-size: 14px;
  	font-weight: 700;
  	color: #ffffff;
}
.container {
  	padding: 20px 0px;
  	max-width: 1150px;
  	margin: auto;
}
.Joe{
  	height: 29px;
	font-size: 24px;
  	font-weight: 700;
  	color: #580f8b;
  	display: inline-block;
}

.Save{
  	height: 23px;
   	font-size: 18px;
  	font-weight: 700;
  	color: #580f8b;
  	display: inline-block;
  	text-align: right;
}
hr{
	border-color: #999;
    margin-left: -35px;
    margin-right: -35px;
}
ul{
	list-style: none;
    display: flex;
    font-size: 16px;
  	font-weight: 400;
  	line-height: 1.5;
  	color: #777777;
}

span.first_close{
	position: relative;
    left: 100.7%;
    top: -32px;
}
span.second_close{
	position: relative;
    left: 1225px;
    top: -50px;
}
li{
	padding: 0px 8px;
	text-align: center;
	min-width: 13%;
}
li.total_list{
  	font-weight: 700;
  	text-align: center;
  	color: #777777
}
select{
	width: 20%;
  	height: 43px;
  	border-radius: 5px;
  	background-color: #ffffff;
  	border: solid 1px #979797;
  	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 8px;
}
.dropdown{
  	height: 43px;
  	border-radius: 5px;
  	background-color: #ffffff;
  	border: solid 1px #979797;
  	display: inline-block;
  	width: 100%;
}
.ui-select-bootstrap > .ui-select-match > .btn {
    text-align: left !important;
    height: 40px;
    border-width: 0px;
    position: absolute;
}
input[type=search]{
	display: none;
}
.ui-select-choices-group{
	padding: 0px;
	margin: 0px;
	text-align: left;
}
.ui-select-bootstrap > .ui-select-choices, .ui-select-bootstrap > .ui-select-no-choice{
	padding: 0px !important;
}
.ui-select-bootstrap .ui-select-choices-row>span:hover, .ui-select-bootstrap .ui-select-choices-row.active>span:hover{
	background-color: #580f8b !important;
	color: #fff !important;
}
.ui-select-bootstrap > .ui-select-match > .btn:hover {
    background-color: white;
}
.ui-select-bootstrap .ui-select-choices-row>span{
	height: 43px;
    border: 1px solid #979797;
    border-width: 1px 0px 0px 0px;
    font-size: 18px;
  	font-weight: 400;
  	padding: 10px;
}
.ui-select-bootstrap .ui-select-match-text span{
	font-size: 18px;
  	font-weight: 400;
  	padding-top: 4px
}
.ui-select-bootstrap > .ui-select-match > .btn{
	font-size: 18px;
  	font-weight: 400;
  	padding-top: 7px;
}
.liftup::after{
	font-family: FontAwesome;
   	content: "\f078";
   	color: #580f8b;
   	position: relative;
    left: 90%;
    top: -32px;
    font-size: 18px;
}
.ui-select-bootstrap .ui-select-choices-row.active>span{
	background-color: white !important;
	color: #333;
}
.ui-select-bootstrap .ui-select-toggle > .caret{
	display: none;
}
div + i{
	color: #ccc;
}
ul + span{
	color: red;
}
.fa-chevron-up{
	display: none;
} 
button{
	width: 188px;
  	height: 44px;
  	border-radius: 5px;
  	background-color: #580f8b;
  	font-size: 18px;
  	font-weight: 400;
  	color: #ffffff;
  	margin: 30px 0px;
  	border: 1px solid #580f8b;
}
.small_box{
	width: 55px;
  	height: 43px;
  	border-radius: 5px;
  	border: solid 1px #979797;
  	text-align: center;
}
.total_box{
	width: 55px;
  	height: 43px;
  	border-radius: 5px;
  	border: solid 2px #979797;
  	text-align: center;
}
.Questions{	
  	font-size: 24px;
  	font-weight: 400;
  	color: #666666;
}
.For{
    font-size: 16px;
  	font-weight: 400;
  	line-height: 1.5;
  	color: #777777;
  	display: inline-block;
}
.Bellvevue{
  	font-size: 16px;
  	font-weight: 700;
  	line-height: 1.11;
  	color: #777777;
  	display: inline-block;
}
.Vivian{
	padding-bottom: 20px;
    font-size: 16px;
  	font-weight: 400;
  	line-height: 1.5;
  	color: #9933cc;
  	display: inline-block;
}
.description{
	height: 50px;
    font-size: 18px;
  	font-weight: 400;
  	line-height: 1.33;
  	color: #777777;
  	display: inline-block;
  	margin-bottom: 25px;
}
.Week{
  	height: 25px;
  	font-size: 24px;
  	font-weight: 700;
 	line-height: 1.08;
  	color: #580f8b;
}
.Survey{
	height: 50px;
    font-size: 20px;
  	font-weight: 400;
  	line-height: 1.33;
  	color: #580f8b;
  	display: inline-block;
}
.Hours{
  	height: 29px;
  	font-size: 24px;
  	font-weight: 700;
  	color: #2272cc;
  	display: inline-block;

}
.Hours::after{
	font-family: FontAwesome;
   	content: "\f059";
   	color: #ccc;
   	font-size: 18px;
   	margin-left: 10px;
}
.Report{
  	height: 23px;
  	font-size: 18px;
  	font-weight: 700;
  	color: #580f8b;
}
.WeekOnTotals{
	height: 25px;
  	font-size: 18px;
  	font-weight: 700;
  	line-height: 1.33;
  	text-align: right;
  	color: #777777;
  	display: inline-block;
}
.Unscheduled{
  	height: 29px;
  	font-size: 24px;
  	font-weight: 700;
  	color: #2272cc;
}
.If{
  	font-size: 18px;
  	font-weight: 400;
  	line-height: 1.33;
  	color: #777777;
  	display: inline-block;
}
ul.Checkbox{
    border: 1px solid #ccc;
    padding: 10px 25px;
}
.Checkbox li{
	padding: 5px 25px;
}
.tiny_box{
	width: 18.7px;
  	font-size: 23.7px;
  	font-weight: 400;
  	color: #777777;
}
.RemovableList  span{
	color: red;
	position: relative;
    top: 7px;
    cursor: pointer;
}
.liftup{
	margin-top: -12px;
}
.footer span{
	display: block;
}
.Report span, .Report i{
	cursor: pointer;
}
.checkbox-container{
	padding-right: 0px;
	padding-left: 25px;
}