	<nav class="navbar navbar-default">
		<div class="container">
			<div>
				<span class="menu_icon" ng-click="menuboxOpen = true">
					<i class="fa fa-bars fa-2x" aria-hidden="true"></i>
				</span>
				<span class="heading">GME Physician Time Survey</span>
				<span class="logout">Logout</span>
			</div>
		</div>	
		<div class="menu-box-close" ng-show="menuboxOpen" ng-click="menuboxOpen = false">
			<span><i class="fa fa-times fa-3x" aria-hidden="true"></i></span>
		</div>	
	</nav>
	<div class="menu-box-content" ng-show="menuboxOpen">
		<ul>
			<li><a>Exhibit 1 Bellevue</a></li>
			<li><a>Exhibit 1 HJD</a></li>
			<li><a>Exhibit 1 Lutheran</a></li>
			<li><a>Exhibit 1 NYUHC</a></li>
		</ul>
	</div>	
	<div class="background-blur" ng-show="alerting"></div>
	<div class="alert-popup" ng-show="pushAlert">
		<div class="Hours">{{contentsHeading}}</div>
		<div>{{contents}}</div>
		<button class="alert-popup-button" ng-click="alerting=pushAlert=false">Dismiss</button>
	</div>
	<div class="alert-popup" ng-show="submitPopup">
		<div class="Hours">Submit Hours and Activities</div>
		<div>Do you agree that the data being submitted is accurate?</div>
		<button class="alert-popup-button cancel" ng-show="submitPopupButtons" ng-click="submitPopup=alerting=false">Cancel</button>
		<button class="alert-popup-button agree" ng-show="submitPopupButtons" ng-click="submitPopupButtons=0;print(1)">Agree and Submit</button>
		<span class="save-loader-image" ng-show="!submitPopupButtons">
			<img src="images/ajax-loader2.gif">
		</span>
	</div>
	<div class="activity-definition" ng-show="description" ng-scrollbars ng-scrollbars-config="config"  id="page" ng-class="{scrolled:boolChangeClass}"">
		<div class="header">
			<span class="Hours">Activity Definitions</span>
			<span><i class="fa fa-times fa-2x" aria-hidden="true" ng-click="description=alerting=false"></i></span>
		</div>
		<div class="scroll-body">
            <h3>NYUHC, HJD and Lutheran:</h3>
            <h2>Teaching &amp; Supervision</h2>
            <p>
                Supervision of residents; the administration and operation of residency programs including interviewing and evaluating of interns and residents.  Teaching should include all direct teaching activities including grand rounds, educational conferences. Autopsies performed for training of interns and residents.
            </p>

            <h2>Non-Teaching</h2>
            <p>
                Time spent in administering or overseeing clinical departments as well as general hospital administration. Supervision of individuals other than interns and residents, such as nurses, physician assistants, technicians &amp; therapists. Should include committee work not related to GME. Services of general benefit to all patients (Quality Control, etc.).  Autopsies performed for quality assurance purposes.
            </p>
            <h3>HJD and Lutheran:</h3>
            <h2>Direct Patient Care</h2>
            <p>
                Time spent doing Patient Care for which you are compensated by the hospital.  Teaching and supervision of interns and residents doing research.  Please note that FGP or Physician Private Practice patient care should not be reported in the survey.
            </p>
            <h3>Bellevue:</h3>
            <h2>Teaching/Resident Supervision/Direct Patient Care</h2>
            <p>
                Direct teaching activities pertaining only to Interns and Residents such as lectures, grand rounds, autopsies (for the purpose of teaching) and case conferences.  Administration and operation of a certified Residency Program.  Attending classes, conferences and lectures on Graduate Medical Education.  Supervision of interns and residents in providing direct patient care. Emergency Department on-call/standby time and time actually spent in the hospital performing direct patient care during other on-call time. Direct Patient Care which includes reviewing and completing medical records, hospital forms, reviewing medical literature, reviewing radiology reports, reviewing and interpreting test results, examining specimens or slides and gathering other patient-specific information.
            </p>

            <h2>Non-Teaching</h2>
            <p>
                Non-GME hospital, department administrative duties, and committee work.  Supervision and teaching of other than interns and residents.  Autopsies performed for quality assurance purposes.  Other services of general benefit to all patients.  Seminar attendance non-GME related for which you are compensated.
            </p>

        </div>
	</div>
	<div class="container-heading">
		<div class="row">
			<div class="Joe col-sm-6 col-lg-6 col-md-6">Joe Smith, MD</div>
			<div class="save-button-container col-sm-6 col-lg-6 col-md-6">
				<div class="save-container button-container" ng-show="!saveWait">
					<button class="Save" ng-click="print(0);saveWait=1" ng-disabled="disableButton()">Save</button>
				</div>
				<div class="button-container" ng-show="!saveWait">	
					<button class="submit" ng-click="submitPopup=alerting=true" ng-disabled="disableButton()">Submit</button>
				</div>	
				<span class="save-loader-image" ng-show="saveWait">
					<img src="images/ajax-loader2.gif">
				</span>
			</div>	
		</div>	
		<hr><br>
		<div class="row">
			<div class="description col-sm-12 col-lg-12 col-md-12">Please enter hours for which you were compensated by the hospital into the boxes provided in whole numbers or .5 increments (example: 3 or 3.5)</div>	
			<div class="Week col-sm-12 col-lg-12 col-md-12">{{"Week One: "+weekOne.start+" - "+weekOne.end+", "+weekOne.year}}</div><br>
			<div class="Survey col-sm-12 col-lg-12 col-md-12">{{"Survey Close Date: "+closingDate}}</div>
		</div>	
		<div class="row" ng-show="displayError(0,7)">
			<div class="col-sm-12 col-lg-12 col-md-12">
				<div class="alert-box">A maximum of 24 hours can be logged for each day.</div>
			</div>
		</div>
		<div class="row">
			<div class="Hours col-sm-5 col-lg-5 col-md-5">Hours Spent on Activities
				<span class="about"><i class="fa fa-question-circle fa-lg" aria-hidden="true" ng-click="description=alerting=true"></i></span>
			</div>
			<ul class="col-sm-7 col-lg-7 col-md-7 week-names">
				<li ng-repeat="weeks in [0,1,2,3,4,5,6] track by $index">
					{{weekDays[$index]}}<br>
					{{date1[$index]}}
				</li>
				<li><strong>
					Activity<br>
					Totals</strong>
				</li>
			</ul>
		</div>
		<div class="row" ng-repeat="activity in activities1 track by $index">	
			<div class="col-md-5 col-lg-5 col-sm-5 move-right">
				<div class="col-lg-6 col-md-6 col-sm-6 liftup">
					<span class="loading"><img src="images/ajax-loader.gif" ng-show="loading"></span>
					<ui-select ng-model="activity.locationName.value" on-select="locationSelected(activities1,$index)" ng-class="{'hide-arrow-icon': loading}">
			    		<ui-select-match placeholder="Choose a location">
			        		<span ng-bind="$select.selected"></span>
			    		</ui-select-match>
			    		<ui-select-choices repeat="item in locationArray">
			        		<span ng-bind="item"></span>
			    		</ui-select-choices>
					</ui-select>
					<span class="red-color" ng-hide="activity.locationName.value == undefined">
						<i class="fa fa-times-circle fa-lg" aria-hidden="true" ng-click="removeLocationName(activities1,$index)"></i>
					</span>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 liftup increased-width">
					<span class="loading"><img src="images/ajax-loader.gif" ng-show="activity.loadingAction"></span>
					<ui-select 	ng-model="activity.activityName.value" ng-disabled="activity.locationName.value == undefined" on-select="compareSelect(activities1,$index)" ng-class="{'hide-arrow-icon': activity.loadingAction}">
			    		<ui-select-match placeholder="Choose an activity">
			        		<span ng-bind="$select.selected.label"></span>
			    		</ui-select-match>
			    		<ui-select-choices repeat="item in activity.actionArray">
			        		<span ng-bind="item.label"></span>
			    		</ui-select-choices>
					</ui-select>
					<span class="red-color" ng-hide="activity.activityName.value == undefined">
						<i class="fa fa-times-circle fa-lg" aria-hidden="true" ng-click="removeActivityName(activities1,$index)"></i>
					</span>
				</div>
			</div>	
			<ul class="col-sm-7 col-lg-7 col-md-7 RemovableList">
				<li ng-repeat="boxes in [0,1,2,3,4,5,6] track by $index">
					<input type="text" class="small_box" name="" ng-model="activity.time[$index]" ng-disabled="activity.locationName.value == undefined || activity.activityName.value == undefined || activity1Checked[$index] === true" allow-decimal-numbers>
				</li>
				<li>
					<input type="text" class="total_box" name="" ng-model="activity.activityTotal" readonly="">
				</li>
				<span>
					<i class="fa fa-times-circle fa-lg" aria-hidden="true" ng-click="removeActivity(activities1,$index)"></i>
				</span>
			</ul>	
		</div>
		<div class="row">	
			<div class="Report col-sm-12 col-lg-12 col-md-12">
				<i class="fa fa-plus-circle fa-lg" aria-hidden="true" ng-click="addActivity(activities1)"></i>
				<span ng-click="addActivity(activities1)">Report another activity</span>
			</div><br>
		</div>
		<div class="row">	
			<div class="WeekOnTotals col-sm-5 col-lg-5 col-md-5">Week on Totals:</div>
			<ul class="col-sm-7 col-lg-7 col-md-7 week-totals">
				<li ng-repeat="totals in [0,1,2,3,4,5,6] track by $index">
					<input type="text" class="total_box" name="" ng-model="total[$index]" readonly="">
				</li>
				<li>
					<input type="text" class="total_box" name="" ng-model="weektotal[1]" readonly="">
				</li>
			</ul>
		</div><br>
		<div class="row">
			<div class="col-sm-5 col-lg-5 col-md-5">
				<div class="Unscheduled">Unscheduled Days</div><br>
				<div class="If">If not scheduled to work, or if off on vacation or sick for the entire day, check the box for that day. Check the box again to clear it. </div>
			</div>	
			<div class="col-sm-7 col-lg-7 col-md-7 checkbox-container">
				<ul class="Checkbox">
					<li ng-repeat="weeks in [0,1,2,3,4,5,6] track by $index">
						{{weekDays[$index]}}<br>
						{{date1[$index]}}<br>
						<input id="{{'checkbox'+$index}}" type="checkbox" ng-model="activity1Checked[$index]" ng-change="clearText(activities1,$index)"/>
    					<label for="{{'checkbox'+$index}}"></label>
					</li>	
				</ul>
			</div>	
		</div>
		<br>
		<hr><br>
		<div class="row">
			<div class="Week col-sm-12 col-lg-12 col-md-12">{{"Week Two: "+weekTwo.start+" - "+weekTwo.end+", "+weekTwo.year}}</div><br>
			<div class="Survey col-sm-12 col-lg-12 col-md-12">{{"Survey Close Date: "+closingDate}}</div>
		</div>	
		<div class="row" ng-show="displayError(7,14)">
			<div class="col-sm-12 col-lg-12 col-md-12">
				<div class="alert-box">A maximum of 24 hours can be logged for each day.</div>
			</div>
		</div>
		<div class="row">
			<div class="Hours col-sm-5 col-lg-5 col-md-5">Hours Spent on Activities
				<span class="about"><i class="fa fa-question-circle fa-lg" aria-hidden="true" ng-click="description=alerting=true"></i></span>
			</div>
			<ul class="col-sm-7 col-lg-7 col-md-7 week-names">
			<li ng-repeat="weeks in [0,1,2,3,4,5,6] track by $index">
					{{weekDays[$index]}}<br>
					{{date2[$index]}}
				</li>
				<li><strong>
					Activity<br>
					Totals</strong>
				</li>
			</ul>
		</div>
		<div class="row" ng-repeat="activity in activities2 track by $index">	
			<div class="col-md-5 col-lg-5 col-sm-5 move-right">
				<div class="col-lg-6 col-md-6 col-sm-6 liftup">
					<span class="loading"><img src="images/ajax-loader.gif" ng-show="loading"></span>
					<ui-select ng-model="activity.locationName.value" on-select="locationSelected(activities2,$index)" ng-class="{'hide-arrow-icon': loading}">
			    		<ui-select-match placeholder="Choose a location">
			        		<span ng-bind="$select.selected"></span>
			    		</ui-select-match>
			    		<ui-select-choices repeat="item in locationArray">
			        		<span ng-bind="item"></span>
			    		</ui-select-choices>
					</ui-select>
					<span class="red-color" ng-hide="activity.locationName.value == undefined">
						<i class="fa fa-times-circle fa-lg" aria-hidden="true" ng-click="removeLocationName(activities2,$index)"></i>
					</span>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 liftup increased-width">
					<span class="loading"><img src="images/ajax-loader.gif" ng-show="activity.loadingAction"></span>
					<ui-select ng-model="activity.activityName.value" ng-disabled="activity.locationName.value == undefined" on-select="compareSelect(activities2,$index)" ng-class="{'hide-arrow-icon': activity.loadingAction}">
			    		<ui-select-match placeholder="Choose an activity">
			        		<span ng-bind="$select.selected.label"></span>
			    		</ui-select-match>
			    		<ui-select-choices repeat="item in activity.actionArray">
			        		<span ng-bind="item.label"></span>
			    		</ui-select-choices>
					</ui-select>
					<span class="red-color" ng-hide="activity.activityName.value == undefined">
						<i class="fa fa-times-circle fa-lg" aria-hidden="true" ng-click="removeActivityName(activities2,$index)"></i>
					</span>
				</div>
			</div>	
			<ul class="col-sm-7 col-lg-7 col-md-7 RemovableList">
				<li ng-repeat="boxes in [0,1,2,3,4,5,6] track by $index">
					<input type="text" class="small_box" name="" ng-model="activity.time[$index]" ng-disabled="activity.locationName.value == undefined || activity.activityName.value == undefined || activity2Checked[$index] === true" allow-decimal-numbers>
				</li>
				<li>
					<input type="text" class="total_box" name="" ng-model="activity.activityTotal" readonly="">
				</li>
				<span>
					<i class="fa fa-times-circle fa-lg" aria-hidden="true" ng-click="removeActivity(activities2,$index)"></i>
				</span>
			</ul>	
		</div>
		<div class="row">	
			<div class="Report col-sm-12 col-lg-12 col-md-12">
				<i class="fa fa-plus-circle fa-lg" aria-hidden="true" ng-click="addActivity(activities2)"></i>
				<span ng-click="addActivity(activities2)">Report another activity</span>
			</div><br>
		</div>
		<div class="row">	
			<div class="WeekOnTotals col-sm-5 col-lg-5 col-md-5">Week on Totals:</div>
			<ul class="col-sm-7 col-lg-7 col-md-7 week-totals">
				<li ng-repeat="totals in [0,1,2,3,4,5,6] track by $index">
					<input type="text" class="total_box" name="" ng-model="total[$index+7]" readonly="">
				</li>
				<li>
					<input type="text" class="total_box" name="" ng-model="weektotal[2]" readonly="">
				</li>
			</ul>
		</div><br>
		<div class="row">
			<div class="col-sm-5 col-lg-5 col-md-5">
				<div class="Unscheduled">Unscheduled Days</div><br>
				<div class="If">If not scheduled to work, or if off on vacation or sick for the entire day, check the box for that day. Check the box again to clear it. </div>
			</div>	
			<div class="col-sm-7 col-lg-7 col-md-7 checkbox-container">
				<ul class="Checkbox">
						<li ng-repeat="weeks in [0,1,2,3,4,5,6] track by $index">
						{{weekDays[$index]}}<br>
						{{date2[$index]}}<br>
						<input id="{{'checkbox2'+$index}}" type="checkbox" ng-model="activity2Checked[$index]" ng-change="clearText(activities2,$index)"/>
    					<label for="{{'checkbox2'+$index}}"></label>
					</li>
				</ul>
			</div>	
		</div>
		<br>
	</div>	
	<div class="footer">
		<span class="Questions">Questions</span>
		<span class="For">For questions regarding how to properly code specific activites on this survey use the following contact information:</span><br>
		<span class="Bellvevue">Bellvevue Hospital:</span>
		<span class="For">Vivian Diaz</span>
		<span class="For">212-562-3422</span>
		<span class="Vivian">Vivian.Diaz2@bellevue.nychhc.org</span>
		<span class="Bellvevue">NYUHC/HJD:</span>
		<span class="For">Robert Toso</span>
		<span class="For">212-404-4165</span>
		<span class="Vivian">Robert.Toso@nyumc.org</span>
		<span class="Bellvevue">Lutheran:</span>
		<span class="For">Contact info TBD</span>
	</div>			
		
