<div class="row">
	<div class="col-sm-4 col-lg-4 col-md-4 align-center">
		<label>Source</label>
	</div>
	<div class="col-sm-8 col-lg-8 col-md-8 align-center">
		<input id="searchSource" onfocus="source()" placeholder="Source" type="text" name="Location">
	</div>
</div>
<div class="row">
	<div class="col-sm-4 col-lg-4 col-md-4 align-center">
		<label>Destination</label>
	</div>
	<div class="col-sm-8 col-lg-8 col-md-8 align-center">
		<input id="searchDestination" onfocus="destination()" placeholder="Destination" type="text" name="Location">
	</div>
</div>
<div class="row">
	<div class="col-sm-4 col-lg-4 col-md-4 align-center">
		<label>Seats Available</label>
	</div>
	<div class="col-sm-8 col-lg-8 col-md-8 align-center">
		<input placeholder="Seats available" type="text">
	</div>
</div>
<div class="row">
	<div class="col-sm-4 col-lg-4 col-md-4 align-center">
		<label>Date</label>
	</div>
	<div class="col-sm-8 col-lg-8 col-md-8 align-center">
		<input type="date" placeholder="Date" name="Date">
	</div>
</div>
<div class="row">
	<div class="col-sm-4 col-lg-4 col-md-4 align-center">
		<label>Time</label>
	</div>
	<div class="col-sm-8 col-lg-8 col-md-8 align-center">
		<input type="time" placeholder="time" name="Time">
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-lg-12 col-md-12 align-center">
		<button>Save</button>
	</div>
</div>	
