<div class="ride">
	<div class="container-fluid ride" ng-repeat="x in list">
		<div class="row">
			<div class="col-sm-9 col-lg-9 col-md-9 ride-list">
				{{x.source+" - "+x.destination+" --- "+x.name}}
			</div>
			<div class="col-sm-3 col-lg-3 col-md-3 details-button">
				<button ng-click="extraDetails($index)" ng-hide	="extra[$index]">Show Details</button>
				<button ng-click="lesserDetails($index)" ng-show="extra[$index]">Hide Details</button>
			</div>
		</div>
		<div class="row" ng-show="extra[$index]">
			<div class="col-sm-4 col-lg-4 col-md-4 align-right">Date:</div>
			<div class="col-sm-8 col-lg-8 col-md-8 align-left">{{x.date}}</div>
		</div>
		<div class="row" ng-show="extra[$index]">
			<div class="col-sm-4 col-lg-4 col-md-4 align-right">Time:</div>
			<div class="col-sm-8 col-lg-8 col-md-8 align-left">{{x.time}}</div>
		</div>
		<div class="row" ng-show="extra[$index]">
			<div class="col-sm-4 col-lg-4 col-md-4 align-right">Seats:</div>
			<div class="col-sm-8 col-lg-8 col-md-8 align-left">{{x.seats}}</div>
		</div>		
	</div>
</div>	
