<div class="sign-up">
	<div class="row">
		<div class="col-sm-12 col-lg-12 col-md-12 align-center">
			<span class="heading">Sign Up</span>
		</div>	
		<div class="col-sm-12 col-lg-12 col-md-12 align-center">
			<input type="text" ng-model="name" autofocus placeholder="username" name="">
		</div>	
	</div>
	<div class="row">
		<div class="col-sm-12 col-lg-12 col-md-12 align-center">
			<input type="password" ng-model="password" placeholder="password" name="">
		</div>
	</div>
	<div class="row" ng-show="displayError">
		<div class="col-sm-12 col-lg-12 col-md-12 align-center error-box-container">
			<span class="error-box">{{errorContent}}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-lg-12 col-md-12 align-center">
			<button ng-click="addUser()" ng-disabled="disabled()">Sign Up</button>
		</div>	
	</div>
	<div class="row">
		<div class="col-sm-12 col-lg-12 col-md-12 align-center">
			<span><a ui-sref="login">Already have an account?</a></span>
		</div>
	</div>		
</div>