body{
	background-color: #ccc;
}
.navigation-bar{
	background-color: black;
	height: auto;
	text-align: center;
	padding: 30px;
	color: #ccc;
	font-size: 30px;

}
.navigation-bar a{
	float: right;
	color: white;
	font-size: 20px;
	position: relative;
	top: 1px;
}
.row{
	margin-bottom: 10px;
}
.view{
	margin-top: 50px;
	width: 500px;
	padding:20px;
	position: relative;
	left: calc(50% - 250px);
	height: auto;
	border: 1px solid white;
	background-color: black;
	border-radius: 5px;
}
.left-side{
	float: right;
}
.right-side{
	float: left;
}
button{
	padding: 8px;
	width: 100px;
	background-color: white;
	border: 1px solid black;
	color: black;
	border-radius: 4px;
	margin-bottom: 10px; 
}
.align-center{
	text-align: center;
}
input{
	width: 250px;
    padding: 5px;
}
.login .align-center{
	text-align: center;
}
.login .align-center span a{
	color: white;
}
.sign-up .align-center span a{
	color: white;
}
.align-left{
	text-align: left;
}
.align-right{
	text-align: right;
}
.heading{
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-size: 20px;
	float: left;
}
.nav-tabs>li>a:active
{
	background-color: white;
}
.error-box{
	width: 100%;
	border: 1px solid red;
	padding: 10px;
	text-align: center;
	color: red;
}
.error-box-container{
	margin: 10px 0px;
}
.user-name{
	color: white;
    font-size: 17px;
    font-style: italic;
    position: relative;
    top: 10px;
    padding-left: 0px;
}
label{
	color: white;
}
.logout{
    float: right;
    position: relative;
    top: 10px;
}
.vertical-align{
	padding-top: 9px;
}
.nav-tabs>li>a{
	padding: 10px 4px;
}
.ride-list{
	color: #333;
    font-size: 17px;
    padding: 5px;	
}
.details-button{
	padding: 0px;
	position: relative;
	top: 10px;
}
.ride{
	background-color: #ccc;
	padding: 15px;
}

